@model List<ComprasModel>
@{
    ViewData["Title"] = "Lista de Compras";
}

<div class="text-center">
  
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
        <a role="button" class="btn  btn-primary" asp-controller="Compras" asp-action="Criar">Adicionar novo item</a>
    </div>

    <br />

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Listagem de Compras</h1>

    <table class="table" id="table-compras">
      <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Marca</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Detalhes</th>
                <th scope="col"></th>
            </tr>
      </thead>
      <tbody>
          @if(Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Nome</td>
                        <td>@item.Marca</td>
                        <td>@item.Quantidade</td>
                        <td>@item.Detalhes</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Compras" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-controller="Compras" asp-route-id="@item.Id" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="add"><td valign="top" colspan="5">Nenhum item encontrado</td></tr>
            }
      </tbody>
    </table>

</div>
